<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <!-- First Name: Column -->
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First Name:</mat-label>
        <input matInput type="text" placeholder="First Name" formControlName="firstName">
      </mat-form-field>
      <!-- Last Name: Column -->
      <mat-form-field appearance="outline">
        <mat-label>Last Name:</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
    </div>
    <!-- Email: Column -->
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email:</mat-label>
        <input matInput type="email" placeholder="test@test.com" formControlName="email">
      </mat-form-field>
      <!-- DOB: Column -->
      <mat-form-field appearance="outline">
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- Gender: Column -->
    <div class="row">
      <mat-radio-group aria-label="Select Gender" formControlName="gender">
        <mat-label><b>Gender:</b></mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="others">Others</mat-radio-button>
      </mat-radio-group>
    </div>
    <!-- Education: Column -->
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Education:</mat-label>
        <mat-select formControlName="education">
          <mat-option *ngFor="let val of education" [value]="val">{{val}}
          </mat-option>
        </mat-select>
        <!-- Company: Column -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company:</mat-label>
        <input matInput placeholder="Company Working" formControlName="company">
      </mat-form-field>
    </div>
    <!-- Experience: Column -->
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Experience:</mat-label>
        <input matInput placeholder="Years Worked" type="number" formControlName="experience">
      </mat-form-field>
      <!-- Compensation: Column -->
      <mat-form-field appearance="outline">
        <mat-label>Compensation:</mat-label>
        <input matInput placeholder="Compensation" type="number" formControlName="compensation">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>
</form>
